.joinMember{
    flex: 1;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin-right: 20px;
}
.joinMemberTitle{
    font-size: 22px;
    font-weight: 600;
}
.joinMemberImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.joinMemberList{
    margin: 0;
    padding: 0;
    list-style: none;
}
.joinMemberListItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}
.joinMemberListItem span:nth-child(even){
 background: rgb(186, 194, 197);
 border-radius: 25px;
 padding: 2px;
}
.joinMemberUser{
    display: flex;
    flex-direction: column;
}
.joinMemberUserName{
    font-weight: 600;

}
.joinMemberTitle{
    font-weight: 300;
}
.widgetButton{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
}
.joinMemberIcon{
    font-size: 16px !important;
    margin-right: 5px;
}